<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Project</title>
</head>
{% extends 'base.html' %}
{% block content %}
    <body>
    <script>
        $(document).ready(function () {
            $("#project_form").submit(function (e) {
                e.preventDefault();
                var formData = $(this).serialize();
                $.post("/controller/projects/new/", formData, function (data) {
                    if (data.success) {
                        window.location.href = "/";
                    } else {
                        $("#warningMessage").text(data.msg);
                        $("#warningModal").modal("show");

                    }
                });
            });
        });

        $('#closeModalButton').click(function () {
            $('#warningModal').modal('hide');

        });
    </script>
    <h1>Create New Project</h1>
    <p>New project information.</p>
    <form id="project_form">
        {% csrf_token %}
        <p>Project Name: {{ project_new_form.name }}</p>
        <p>Project Description:</p>
        <p>{{ project_new_form.description }}</p>
        <p>Tasks:</p>
        <p>{{ project_new_form.tasks }}</p>
        <p><input class="btn btn-success" type="submit" name="create_project" value="Create Project"></p>
    </form>
    </body>
{% endblock %}
</html>
